

<div class="container">
    <img src="https://exercism.org/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOVVrQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a7fb27a2b51a8698357bd7383d068cc578c39dfa/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWNocEFjZz0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--0ce78b9eabfa0afc6e1df3233850ff362c85b5dc/avatar.jpg">
    <h1 class="content">
        Hi, I'm Mona White
    </h1>
    <p class="content">
        I'm an aspiring Elixir developer and DockYard Academy student.

    </p>
    <p class="content">
        I'm skilled with:
    </p>
    <ul class="content">

            <li>Elixir</li>
            <li>Phoenix</li>
            <li>HTML</li>
            <li>CSS</li>

    </ul>

</div>
