<h1>Show Note</h1>

<ul>

  <li>
    <strong>Content:</strong>
    <%= @note.content %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.note_path(@conn, :edit, @note) %></span> |
<span><%= link "Back", to: Routes.note_path(@conn, :index) %></span>
